/* CSS classes */
.program-button {
  font-style: bold;
  background-color: orange;
  color: black;
  text-align: center;
  display: inline-block;
  padding: 10 px 20 px;
  border-radius: 10 px;
}
.contact-button {
  font-style: bold;
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 10 px 20 px;
  border-radius: 10 px;
}
.title, .head2 {
  color: orange;
  font-style: bold;
}
.p1 {
  color: white;
}

.section1 {
  background-color: black;
}
.texts {
  font-size: 18 px;
  text-align: center;
  margin-left: 30 px;
  margin-right: 30 px;
}

#image1 {
  text-align: center;
}
#advisor-group, #button-group, #contact-group {
  display: flex;
  justify-content: space-around;
  border: 4 px solid gray;
  padding: 40 px;
  margin: 40 px;
}
#extra-stuff {
  display: flex;
  justify-content: space-around;
  border: 4 px solid gray;
  padding: 10 px;
  margin-bottom: 30 px;
}
