/* CSS classes */
p.program-button {
  font-style: bold;
  background-color: orange;
  color: black;
  text-align: center;
}
p.contact-button {
  font-style: bold;
  background-color: black;
  color: white;
  text-align: center;
}
p.button-group {
  border: 2 px solid white;
  padding: 10 px;
  margin: 10 px;
}
p.title, p.head2 {
  color: orange;
  font-style: bold;
}
p.p1 {
  color: white;
}

p.section1 {
  background-color: black;
}

#image1 {
  text-align: center;
}
#advisor-group {
  display: flex;
  justify-content: space-around;
  border: 2 px solid gray;
  padding: 10 px;
  margin: 10 px;
}